[submodule "babel-plugin-lightscript"]
	path = babel-plugin-lightscript
	url = https://github.com/wcjohnson/babel-plugin-lightscript.git
[submodule "lightscript-eslint"]
	path = lightscript-eslint
	url = https://github.com/wcjohnson/lightscript-eslint.git
[submodule "lightscript.org"]
	path = lightscript.org
	url = https://github.com/wcjohnson/lightscript.org.git
[submodule "ast-loc-utils"]
	path = ast-loc-utils
	url = https://github.com/wcjohnson/ast-loc-utils.git
[submodule "lightscript-runtime"]
	path = lightscript-runtime
	url = https://github.com/wcjohnson/lightscript-runtime.git
[submodule "lightscript-tooling-tests"]
	path = lightscript-tooling-tests
	url = https://github.com/wcjohnson/lightscript-tooling-tests.git
[submodule "lightscript-parser"]
	path = lightscript-parser
	url = https://github.com/wcjohnson/lightscript-parser.git
[submodule "lightscript-transform"]
	path = lightscript-transform
	url = https://github.com/wcjohnson/lightscript-transform.git
[submodule "lightscript-preset"]
	path = lightscript-preset
	url = https://github.com/wcjohnson/lightscript-preset.git
