[submodule "babel-plugin-lightscript"]
	path = babel-plugin-lightscript
	url = https://github.com/lightscript/babel-plugin-lightscript.git
[submodule "babylon-lightscript"]
	path = babylon-lightscript
	url = https://github.com/lightscript/babylon-lightscript.git
[submodule "lightscript-eslint"]
	path = lightscript-eslint
	url = https://github.com/lightscript/lightscript-eslint.git
[submodule "lightscript.org"]
	path = lightscript.org
	url = https://github.com/lightscript/lightscript.org
[submodule "babel-preset-lightscript"]
	path = babel-preset-lightscript
	url = https://github.com/lightscript/babel-preset-lightscript
