[submodule "babel-plugin-lightscript"]
	path = babel-plugin-lightscript
	url = https://github.com/wcjohnson/babel-plugin-lightscript.git
[submodule "babylon-lightscript"]
	path = babylon-lightscript
	url = https://github.com/wcjohnson/babylon-lightscript.git
[submodule "lightscript-eslint"]
	path = lightscript-eslint
	url = https://github.com/wcjohnson/lightscript-eslint.git
[submodule "lightscript.org"]
	path = lightscript.org
	url = https://github.com/wcjohnson/lightscript.org.git
[submodule "babel-preset-lightscript"]
	path = babel-preset-lightscript
	url = https://github.com/wcjohnson/babel-preset-lightscript
[submodule "ast-loc-utils"]
	path = ast-loc-utils
	url = https://github.com/wcjohnson/ast-loc-utils.git
[submodule "lightscript-runtime"]
	path = lightscript-runtime
	url = https://github.com/wcjohnson/lightscript-runtime.git
